

$app-blue: #40a9ff;
$app-black: #101423;
$app-white: #fff;

$app-dark-gray: #595959;
$app-verylight-gray: #f1f1f1;
$app-light-gray: #cfcfcf;

// Light Theme Colors
$app-blue: #233044;
$app-bg: #F7F9FC;

$app-active: rgb(32, 44, 63);
$app-active-alternative: rgb(28, 37, 53);